<!DOCTYPE html>
<html lang="in-ID">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suka Makan | Katalog Restoran</title>

  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
  <header id="home">
    <a href="#main-content" id="to-main">Ke Konten Utama</a>
    <a href="#"><img src="./images/heros/Suka-Makan-Logo.png" width="150px" alt="Suka Makan"></a>
    <button class="btnCustom" id="hamburger" aria-label="buka/tutup drawer"><span class="material-icons-outlined">menu</span></button>
    <nav id="drawer" class="">
      <a href="#home" aria-label="home">Home</a>
      <a href="#" aria-label="daftar favorit">Favorit</a>
      <a href="https://www.linkedin.com/in/billy-tan-0ba29a7a/" aria-label="Tentang kami">Tentang Kami</a>
    </nav>
  </header>
  <div class="hero">
    <div class="heroInner">
      <h1 class="heroTitle">Restoran Nusantara</h1>
      <p class="heroContent">Jelajahi pilihan restoran nusantara yang dikutip kami.</p>
    </div>
  </div>
  <main id="main-content">
    <section id="explore-restaurant" aria-label="Jelajah Restoran" tabindex="0">
      <h2 class="sectionTitle">Jelajah Restoran</h2>
    </section>
  </main>
  <footer>
    <p class="footerText">Suka Makan <span>&copy;</span> 2023</p>
  </footer>
</body>
</html>