@use '_variables';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-stack;
  font-size: 16px;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app-bar {
  @include variables.flexdisplay( row );
  align-items: center;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 8px rgba( 0, 0, 0, .4 );
  button {
    margin-left: auto;
  }
}

.app-bar__to-main-navigator{
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 1;
}

.app-bar__to-main-navigator:focus {
  position: static;
  top:0;
}

.app-bar__menu-button {
  background-color: variables.$secondary-color;
  border-radius: 5px;
  color: white;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: variables.$heading5;
  font-weight: bold;
}

.app-bar__navigations {
  @include variables.flexdisplay( column );
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  background-color: variables.$primary-color;
  width: 80%;
  height: 100%;
  transition: transform .4s ease-in-out; 
  a {
    color: white;
    display: block;
    padding: 16px 24px;
    min-height: 44px;
    text-decoration: none;
  }
  a:focus, a:hover {
    text-decoration: underline;
    background-color: variables.$var2-color;
    color: black;
    outline:none;
  }
}

.app-bar__navigations.open {
  transform: translate( -100%, 0 );
}

main {
  width: 100%;
  scroll-margin-top: 95px;
}

.hero {
  width: 100%;
  min-height: 300px;

  background-color: green;
  background-image: url("../public/images/hero/hero-image.jpg");
  background-position: center;
  background-size: cover;
  transition: min-height .2s linear;
  > .hero__inner {
    @include variables.flexdisplay( column );
    width: 100%;
    min-height: 300px;
    padding: 16px;
    gap: 5px;

    text-align: center;
    justify-content: center;
    background-color: rgba( 0, 0, 0, .5 );
    transition: min-height .2s linear;
    > .hero__inner-title {
      color: variables.$secondary-color;
      font-size: variables.$heading3;
      transition: font-size .2s linear;
    }
    > .hero__inner-text {
      color: variables.$var2-color;
    }
    > .search-bar {
      width: 100%;
      align-self: center;
      padding-top: 16px;
    }
  }
}

.search-bar__form {
  @include variables.flexdisplay( column );
  width: 80%;
  margin: auto;
  align-items: center;
  .search-bar__form-label {
    color: variables.$var2-color;
  }
  .search-bar__form-input-text {
    width: 100%;
    padding: 8px 12px;
    color: variables.$secondary-color;
    min-height: 44px;
    border: none;
    border-bottom: 4px solid variables.$primary-color;
    border-radius: 4px 0 0 4px;
    background-color: variables.$var2-color;
  }
  .search-bar__form-input-text:focus {
    outline: none;
    color: white;
    background-color: variables.$var1-color;
  }
}

.search-bar__form-search {
  width: 100%;
  margin-top: 8px;
  @include variables.flexdisplay( row );
  >.search-bar__form-button {
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: variables.$primary-color;
    min-width: 44px;
    min-height: 44px;
    margin:auto;
  }
  >.search-bar__form-button:focus {
    outline: none;
    background-color: variables.$var2-color;
    > img {
      filter: brightness(0) saturate(100%) invert(41%) sepia(94%) saturate(1798%) hue-rotate(359deg) brightness(101%) contrast(105%);
    }
  }
}

.restaurant-collection__title {
  color: variables.$primary-color;
  padding: 20px 0;
  text-align: center;
}

.restaurant-collection__title::after {
  content: "";
  border-bottom: 1px solid variables.$primary-color;
  display: block;
  margin-top: 16px;
}

.restaurant-collection__error {
  @include variables.flexdisplay(row);
  width: 100%;
  height: 150px;
  padding: 16px;
  gap: 8px;
  justify-content: center;
  align-items: center;

  > .restaurant-collection__error-icon {
    width: 44px;
    height: 44px;

    filter: invert(59%) sepia(0%) saturate(0%) hue-rotate(230deg) brightness(90%) contrast(98%);
  }
  > div {
    color: gray;
    width: 60%;
    > .restaurant-collection__error-title {
      font-weight: bold;
      text-align: justify;
    }
  }
}

.restaurant-collection__container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  padding: 16px;
  gap: 16px;
}

.restaurant-item__container {
  width: 100%;
  padding: 16px;
  @include variables.flexdisplay(column);
  box-shadow: 0 5px 10px 0 rgba( 0, 0, 0, .4 );
  border-radius: 5px;
}

.restaurant-item__text {
  padding: 8px 0;
  @include variables.flexdisplay(column);
  gap: 4px;
  > .restaurant-item__text-name {
    color: variables.$primary-color;
    font-size: variables.$heading5;
    font-weight: bold;
  }
}

.restaurant-item__kv{
  width: 100%;
  height: 200px;
  position: relative;
  > .restaurant-item__kv-thumbnail {
    width:100%;
    height: 100%;
    border-radius: 5px;
  }
  > .restaurant-item__kv-city-container {
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, variables.$primary-color, #FF6701cc , transparent);
    @include variables.flexdisplay(row);
    gap: 4px;
    padding: 8px;
    padding-right: 36px;
    border-top-left-radius: 5px;

    align-items: center;
    > .restaurant-item__kv-city-icon {
      width: 18px;
      height: 18px;
    }
    > .restaurant-item__kv-city-text {
      color: white;
    }
  }
}

.restaurant-detail__cover, .restaurant-detail__cover-img {
  width: 100%;
  height: 300px;
}

.restaurant-detail__cover {
  position: relative;
}

favorite-button {
  position: absolute;
  bottom: -22px;
  right: 24px;
}

.restaurant-detail__name {
  color: variables.$primary-color;
  margin: 16px 16px 0 16px;
}

.restaurant-detail__name::after {
  content: "";
  display: block;
  border-top: 1px solid variables.$primary-color;
  margin-top: 8px;
}

.restaurant-detail__city, .restaurant-detail__address {
  color: #888;
  margin: 8px 16px;
}

.restaurant-detail__rating {
  color: variables.$primary-color;
  margin: 2px 16px 8px;
}

.restaurant-detail__description {
  margin: 16px;
}

.about-us__title {
  color: variables.$primary-color;
  padding: 20px 0;
  text-align: center;
}
.about-us__title::after {
  content: "";
  display: block;
  margin-top: 16px;
  border-top: 1px solid variables.$primary-color;
}

.about-us__content {
  width: 80%;
  margin: auto;
}

footer {
  width: 100%;
  background-color: variables.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  > .footerText {
    margin: auto;
    color: variables.$var2-color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

loader-screen {
  display: none;
}

