@use 'variables';

/* tablet screen */
@media only screen and ( min-width: 712px ) {
  .hero {
    min-height: 480px;
    > .hero__inner {
      min-height: 480px;
      > .hero__inner-title {
        font-size: variables.$heading2;
      }
    }
  }

  .restaurant-detail__cover, .restaurant-detail__cover-img {
    height: 480px;
  }
}

/* normal desktop screen */
@media only screen and ( min-width: 1000px ) {
  .hero {
    > .hero__inner {
      > .hero__inner-title {
        font-size: variables.$heading1;
      }
    }
  }
  .restaurant-detail {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(8, auto);
    padding: 16px;
  }

  .restaurant-detail__cover {
    grid-area: 1 / 1 / 6 / 2;
  }
  
  .restaurant-detail__name {
    grid-area: 1 / 2 / 2 / 3;
  }
  .restaurant-detail__rating {
    grid-area: 2 / 2 / 3 / 3;
  }
  .restaurant-detail__city {
    grid-area: 3 / 2 / 4 / 3;
  }
  .restaurant-detail__address {
    grid-area: 4 / 2 / 5 / 3;
  }

  category-list {
    grid-area: 5 / 2 / 6 / 3;
  }

  .restaurant-detail__description {
    grid-area: 6 / 1 / 7 / 3;
  }

  restaurant-menu {
    grid-area: 7 / 1 / 8 / 3;
  }

  restaurant-review {
    grid-area: 8 / 1 / 9 / 3;
  }

  favorite-button {
    bottom: 24px;
  }
}


/* big desktop screen */
@media only screen and (min-width: 1400px) {
  .hero {
    min-width: 1000px;
    min-height: 690px;
    > .hero__inner {
      min-height: 690px;
    }
  }
  .restaurant-detail {
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }
}